<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:hardwareAccelerated="true"
        android:useEmbeddedDex="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chaesiktak"
        tools:targetApi="31">
        <activity android:name=".activities.SearchResultActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.RecipeContentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.IngredientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchPanelActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TOSActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FindingPasswordActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.FindingPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" /> <!-- splash activity 선언 -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Chaesiktak.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- intro activity 선언 -->
        <activity
            android:name=".activities.IntroActivity"
            android:exported="true" />
    </application>

</manifest>